.grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.grid-cell {
  flex: 1;
}

.grid--flexCells > .grid-cell {
  display: flex;
}

.grid--top {
  align-items: flex-start;
}

.grid--bottom {
  align-items: flex-end;
}

.grid--center {
  align-items: center;
}

.grid--justifyCenter {
  justify-content: center;
}

.grid-cell--top {
  align-self: flex-start;
}

.grid-cell--bottom {
  align-self: flex-end;
}

.grid-cell--center {
  align-self: center;
}

.grid-cell--autoSize {
  flex: none;
}

.grid--fit > .grid-cell {
  flex: 1;
}

.grid--full > .grid-cell {
  flex: 0 0 100%;
}

.grid--1of2 > .grid-cell {
  flex: 0 0 50%;
}

.grid--1of3 > .grid-cell {
  flex: 0 0 33.3333%;
}

.grid--1of4 > .grid-cell {
  flex: 0 0 25%;
}

@include breakpoint(small) {
  .small-Grid--fit > .grid-cell {
    flex: 1;
  }
  .small-Grid--full > .grid-cell {
    flex: 0 0 100%;
  }
  .small-Grid--1of2 > .grid-cell {
    flex: 0 0 50%;
  }
  .small-Grid--1of3 > .grid-cell {
    flex: 0 0 33.3333%;
  }
  .small-Grid--1of4 > .grid-cell {
    flex: 0 0 25%;
  }
}

@include breakpoint(medium) {
  .med-Grid--fit > .grid-cell {
    flex: 1;
  }
  .med-Grid--full > .grid-cell {
    flex: 0 0 100%;
  }
  .med-Grid--1of2 > .grid-cell {
    flex: 0 0 50%;
  }
  .med-Grid--1of3 > .grid-cell {
    flex: 0 0 33.3333%;
  }
  .med-Grid--1of4 > .grid-cell {
    flex: 0 0 25%;
  }
}

@include breakpoint(large) {
  .large-Grid--fit > .grid-cell {
    flex: 1;
  }
  .large-Grid--full > .grid-cell {
    flex: 0 0 100%;
  }
  .large-Grid--1of2 > .grid-cell {
    flex: 0 0 50%;
  }
  .large-Grid--1of3 > .grid-cell {
    flex: 0 0 33.3333%;
  }
  .large-Grid--1of4 > .grid-cell {
    flex: 0 0 25%;
  }
}

.grid--gutters {
  margin: -1em 0 1em -1em;
}
.grid--gutters > .grid-cell {
  padding: 1em 0 0 1em;
}

.grid--guttersLg {
  margin: -1.5em 0 1.5em -1.5em;
}
.grid--guttersLg > .grid-cell {
  padding: 1.5em 0 0 1.5em;
}

.grid--guttersXl {
  margin: -2em 0 2em -2em;
}
.grid--guttersXl > .grid-cell {
  padding: 2em 0 0 2em;
}

@media (--break-sm) {
  .small-Grid--gutters {
    margin: -1em 0 1em -1em;
  }
  .small-Grid--gutters > .grid-cell {
    padding: 1em 0 0 1em;
  }
  .small-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em;
  }
  .small-Grid--guttersLg > .grid-cell {
    padding: 1.5em 0 0 1.5em;
  }
  .small-Grid--guttersXl {
    margin: -2em 0 2em -2em;
  }
  .small-Grid--guttersXl > .grid-cell {
    padding: 2em 0 0 2em;
  }
}

@media (--break-md) {
  .med-Grid--gutters {
    margin: -1em 0 1em -1em;
  }
  .med-Grid--gutters > .grid-cell {
    padding: 1em 0 0 1em;
  }
  .med-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em;
  }
  .med-Grid--guttersLg > .grid-cell {
    padding: 1.5em 0 0 1.5em;
  }
  .med-Grid--guttersXl {
    margin: -2em 0 2em -2em;
  }
  .med-Grid--guttersXl > .grid-cell {
    padding: 2em 0 0 2em;
  }
}

@media (--break-lg) {
  .large-Grid--gutters {
    margin: -1em 0 1em -1em;
  }
  .large-Grid--gutters > .grid-cell {
    padding: 1em 0 0 1em;
  }
  .large-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em;
  }
  .large-Grid--guttersLg > .grid-cell {
    padding: 1.5em 0 0 1.5em;
  }
  .large-Grid--guttersXl {
    margin: -2em 0 2em -2em;
  }
  .large-Grid--guttersXl > .grid-cell {
    padding: 2em 0 0 2em;
  }
}
